fastapi==0.104.1
uvicorn==0.24.0
pandas
numpy
scikit-learn==1.6.1
joblib
pydantic
python-multipart
spacy
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.0/pt_core_news_sm-3.7.0.tar.gz
